name: CD - Maven WAR EC2:Tomcat (Phase-1)

on:
  workflow_dispatch:
    inputs:
      run_description:
        description: 'Description of this run'
        required: false
        default: 'Manual deploy to EC2'
      deploy_version:
        description: 'Version to deploy'
        required: false
        default: '1.0.0-SNAPSHOT'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Start SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Run deploy.sh on EC2
        run: |
          ssh -o StrictHostKeyChecking=no {{ vars.EC2_USER}}@${{ vars.EC2_HOST }} \
            "sudo /opt/deploy/deploy.sh '${{ github.event.inputs.deploy_version }}'"
