
name: CI - Maven WAR EC2:Tomcat (Phase-1)
run-name: >
  ${{ github.event.inputs.run_description != '' && github.event.inputs.run_description || 'Manual Trigger' }}


on:
  workflow_dispatch:
    inputs:
      run_description:
        description: 'Description of this run'
        required: false
        default: 'Manual Trigger'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      JFROG_USER: ${{ secrets.JFROG_USER_CI }}
      JFROG_TOKEN: ${{ secrets.JFROG_TOKEN_CI }}


    steps:
      - name: Show run description
        run: | #multi-line due to yaml parser being picky of : after description
          echo "Run Description: ${{ github.event.inputs.run_description }}"

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # full history for SonarQube analysis
          
         
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          # This will be used for across runs in this repo so initially disable to test Artifactory Cache.
          # cache: maven


      - name: Write Maven settings (.m2/settings.xml)
        run: |
          mkdir -p $HOME/.m2
          cat > $HOME/.m2/settings.xml <<'XML'
          <settings>
            <servers>

              <!-- Read (downloads) via virtual -->
              <server>
                <id>maven-all</id>
                <username>${env.JFROG_USER}</username>
                <password>${env.JFROG_TOKEN}</password>
              </server>

              <server>
                <id>devopsbyte-maven-releases</id>
                <username>${env.JFROG_USER}</username>
                <password>${env.JFROG_TOKEN}</password>
              </server>

              <server>
                <id>devopsbyte-maven-snapshots</id>
                <username>${env.JFROG_USER}</username>
                <password>${env.JFROG_TOKEN}</password>
              </server>

            </servers>

            <mirrors>
              <mirror>
                <id>maven-all</id>
                <url>https://devopsbyte.jfrog.io/artifactory/maven-all</url>
                <mirrorOf>*</mirrorOf>
              </mirror>
            </mirrors>
          </settings>
          XML


      - name: Check Maven cache after restore
        run: |
          echo "After setup-java restore:"
          du -sh ~/.m2/repository || echo "No Maven cache restored."

          echo "--------------------------------------------"
          echo "~/.m2/repository contents (first 50 lines):"
          ls -R ~/.m2/repository | head -50 || true

          echo "--------------------------------------------"
          echo "~/.m2/ contents:"
          ls -l ~/.m2/

          echo "--------------------------------------------"
          echo "settings.xml contents:"
          cat ~/.m2/settings.xml || echo "No settings.xml"
          


      - name: Run unit tests
        run: mvn -B -ntp clean test

      
      - name: SonarCloud Scan
        if: always() # continue even if previous steps fail (like tests)
        continue-on-error: true
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_PROJECT_KEY: ${{ vars.SONAR_PROJECT_KEY }}
          SONAR_ORG: ${{ vars.SONAR_ORG }}
        run: |
          mvn -B -ntp verify sonar:sonar \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.organization=$SONAR_ORG \
            -Dsonar.projectKey=$SONAR_PROJECT_KEY \
            -Dsonar.login=${SONAR_TOKEN}

            # Note: we are NOT using sonar.qualitygate.wait=true in Phase-1.


      - name: Package WAR
        run: mvn -B -ntp -DskipTests package


      - name: Show artifact
        run: ls -l target/*.war || true



      - name: Upload WAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: hello-war-${{ steps.meta.outputs.version }}
          path: target/*.war
          if-no-files-found: error


      - name: Build & Deploy
        run: mvn -B -ntp -DskipTests deploy
